{% extends "base.html" %}
{% block title %}Nova Categoria{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2>Nova Categoria</h2>
                    <hr>

                    <form method="POST">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            {{ form.nome.label(class="form-label") }}
                            {{ form.nome(class="form-control", placeholder="Ex: Eletrônicos") }}
                        </div>

                        <br>
                        <div class="d-grid gap-2 d-md-block">
                            {{ form.submit(class="btn btn-success") }}
                            <a href="{{ url_for('listar_categorias') }}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}